.NavigationItem {
    display: inline-block;
    margin: 4px 8px;
    padding: 0 0;
}

.NavigationItem a {
    text-decoration: none;
    color: #282c34;
    padding: 4px 8px;
    border-radius: 4px;
}

.NavigationItem a:hover {
    border-bottom: 2px solid #b6f9d4;
}