.form-group {
    display: block;
    margin: 10px 20px;
    padding: 10px;
    width: 25%;
}

.input {
    width: 60%;
    float: right;
    padding: 5px;
    border-radius: 4px;
}

.save-btn {
    float: right;
    background: #fff;
    padding: 4px 10px;
    border: 1px solid cadetblue;
    border-radius: 4px;
}

.select {
    background: #fff;

}